name: CI

on: pull_request

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    container: swift:latest
    steps:
    - uses: actions/checkout@v4
    - run: swift build --build-tests
    - run: swift test --skip-build --enable-swift-testing --parallel
      env:
        IMAGES_API_TOKEN: ${{ secrets.IMAGES_API_TOKEN }}
        ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
        REALTIMEKIT_ORGANIZATION_ID: ${{ secrets.REALTIMEKIT_ORGANIZATION_ID }}
        REALTIMEKIT_API_KEY: ${{ secrets.REALTIMEKIT_API_KEY }}
  lint:
    runs-on: ubuntu-24.04-arm
    container: swift:latest
    steps:
      - uses: actions/checkout@v4
      - run: swift format lint -r -p -s .
